<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
  <title>Update Vaccine Type</title>
  
  <link rel="stylesheet" href="/css/vaccine-type-CSS/addVaccineType.css">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">UPDATE VACCINE TYPE</h2>

	<main>
		<div class="w-100 p-0 d-flex">    
            <form class="form_content font-weight-bold w-100 bg-white px-5 py-2 rounded" th:action="@{/updateVaccineType}" method="post" th:object="${vaccineType}">
            	<div class="row my-5">
            		<div class="col">
            			<span>Vaccine Type Code<span class="text-danger">(*)</span>:</span>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-pen-to-square mr-3"></i>
            				
            				<input class="form-control px-2 py-4" type="text" th:value="${vaccineTypeId}" name="vaccineTypeId" readonly>
            			</div>
            		</div>
            		
            		<div class="col">
            			<span>Vaccine Type Name<span class="text-danger">(*)</span>:</span>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-pen-to-square mr-3"></i>
            				
            				<input class="form-control px-2 py-4" type="text" th:value="${vaccineTypeName}" name="vaccineTypeName" placeholder="-Vaccine Type Name-">
            			</div>
            			
            			<span class="text-danger font-weight-bold" th:if="${#fields.hasErrors('vaccineTypeName')}" th:errorclass="error" th:errors="*{vaccineTypeName}"></span>
            			
            			<span class="text-danger font-weight-bold" th:text="${vaccineTypeNameMsg}"></span>
            		</div>
            		
            		<div class="col">
            			<span>Active<span class="text-danger">(*)</span>:</span>
            			
            			<div class="mt-3">
            				<i class="fa-solid fa-check-to-slot mr-3"></i>
            				
            				<input class="w-auto" type="checkbox" name="activeCheckBox" th:checked="${checked}">
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<span>Description:</span>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-file-lines mr-4"></i>
            				
            				<textarea class="form-control p-2" rows="4" cols="100" th:text="${description}" name="description"></textarea>
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<span>Image:</span>
            			
            			<div class="d-flex align-items-center mt-2">
            				<i class="fa-solid fa-image mr-3"></i>
            				
            				<input class="w-auto rounded border p-1" type="file">
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<button class="btn btn-success font-weight-bold px-5 py-2 mr-2" type="submit">Save</button>
            			<button class="btn btn-info font-weight-bold px-5 py-2 mr-2" type="reset">Reset</button>
						<a href="/vaccine-type-list">
            				<button class="btn btn-warning font-weight-bold text-white px-5 py-2" type="button">Cancel</button>
            			</a>            		
            		</div>
            	</div>
            </form>     
       	</div>
	</main>
	
	<script src=""></script>
</body>
</html>