<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main},~{::script})}">

<head>
	<title>Vaccine Type List</title>
	<link rel="stylesheet" href="css/vaccine-type-CSS/vaccine-type-list.css">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">VACCINE TYPE LIST</h2>
	<main>
		<div class="container-fluid bg-white">
       		<div class="body_header">
            	<div class="header_navbar">
                	<div class="header_navbar-item">
                    	<span class="text mr-2">Show</span>
                 
                    	<select class="form-select form-control px-2 py-4">
                    		<option value=5 th:selected="${option == 5}">5</option>
            				<option value=10 th:selected="${option == 10}">10</option>
                        	<option value=15 th:selected="${option == 15}">15</option>
                        	<option value=25 th:selected="${option == 25}">25</option>
                        	<option value=50 th:selected="${option == 50}">50</option>
            			</select>
            		
                    	<span class="text ml-2">entries</span>
                	</div>
                	
                	<div class="header_navbar-item">
                    	<span class="text">Search:</span>
                    	<input class="dropdown-list-search" type="text">
                	</div>
            	</div>
        	</div>
        	
        	<div class="body2">
        	<form>
            	<table class="table table-striped table-bordered">
                	<thead class="thead">
                    	<tr class="table">
							<th scope="col" class="text-center">
								<i class="fa-solid fa-check-to-slot text-white"></i>
							</th>
                        	<th scope="col" class="text-center text-white">Code</th>
                        	<th scope="col" class="text-center text-white">Vaccine Type Name</th>
                        	<th scope="col" class="text-center col-responsive text-white">Description</th>
                        	<th scope="col" class="text-center text-white">Status</th>
                    	</tr>
                	</thead>
                	
                	<tbody>
                    	<tr th:each="vt, status : ${vaccineTypeList.content}">
                    		<th class="text-center">
                    			<input type="checkbox" th:value="${vt.vaccineTypeId}" name="id">
                    		</th>
							<th class="border">
								<a th:text="${vt.vaccineTypeId}" th:href="@{'/updateVaccineType/' + ${vt.vaccineTypeId}}" ></a>
							</th>
							<th class="border" th:text="${vt.vaccineTypeName}"></th>
							<th class="border" th:text="${vt.description}"></th>
							<th class="border" th:text="${vt.vaccineTypeStatus}"></th>
						</tr>
                	</tbody>
            	</table>
            	
            	<div class="footer_buttons">
            	<div class="button_bussiness">
                	<span class="text_details">Showing <span th:text="${start}"></span> to <span th:text="${end}"></span> of <span th:text="${total}"></span> entries</span>
                	<div class="buttons mt-2f">
                		<a th:href="@{/addVaccineType}">
                			<button class="btn-create px-3 py-2">New Vaccine Type</button>
                		</a>
                		
                    	<button type="button" class="btn-update px-3 py-2">Make In-Active</button>
                	</div>
            	</div>
            
            	<div class="d-flex">    		
    				<ul class="pagination">
    					<li class="page-item mx-3">
      						<a th:class="${prevStatus}" th:href="@{'/vaccine-type-list?pageNum=' + ${prev}}" aria-label="Previous">
        						<span aria-hidden="true">&laquo;</span>
        						<span class="sr-only">Previous</span>
      						</a>
    					</li>
    					
   						<th:block th:each="i: ${#numbers.sequence(1, vaccineTypeList.totalPages)}">       		
            				<li class="page-item mx-3">
                				<a th:href="@{'/vaccine-type-list?pageNum=' + ${i}}" th:text="${i}"></a>
            				</li>
       					</th:block>
    					<li class="page-item mx-3">
      						<a th:class="${nextStatus}" th:href="@{'/vaccine-type-list?pageNum=' + ${next}}" aria-label="Next">
        						<span aria-hidden="true">&raquo;</span>
        						<span class="sr-only">Next</span>
      						</a>
    					</li>
  					</ul>
				</div>
    		</div>
    		</form>
        	</div>
    		
    		<span class="" id="formMsg"></span>
    	</div>
    	
    	<div class="modal" id="comfirmModal" tabindex="-1" role="dialog" aria-hidden="true">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<h3 class="modal-title">Confirm</h3>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        				</button>
      				</div>
      				
      				<div class="modal-body d-flex flex-column align-items-center">
      					<div class="mb-3">
      						<i class="fa-solid fa-circle-info text-success mr-2"></i>
      						
      						<span>Are you sure to make inactive?</span>
      					</div>
      					
      					<div class="">
        					<button type="button" class="btn btn-primary px-5 py-2 mr-5" id="confirmBtn">OK</button>
        					<button type="button" class="btn btn-danger px-5 py-2" data-dismiss="modal">Cancel</button>
      					</div>
      				</div>
      				
      				<div class="modal-footer py-4"></div>
    			</div>
  			</div>
		</div>
	</main>
	<script src="/js/vaccine-type-JS/vaccine-type-list.js"></script>
</body>
</html>