<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
  <title>Add Injection Result</title>
  
  <link rel="stylesheet" href="css/addInjectionResult.css">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">CREATE INJECTION RESULT</h2>

	<main>
		<div class="w-100 p-0 d-flex">    
            <form class="form_content font-weight-bold w-100 bg-white px-5 py-2">
            	<div class="row my-5">
            		<div class="col">
            			<span>Customer<span class="text-danger">(*)</span>:</span>
            			
            			<div class="mt-2">
            				<i class="fa-solid fa-pen-to-square mr-2"></i>
            				
            				<input class="p-1" type="text">
            			</div>
            		</div>
            		
            		<div class="col">
            			<span>Prevention<span class="text-danger">(*)</span>:</span>
            			
            			<div class="mt-2">
            				<i class="fa-regular fa-square-caret-down mr-2"></i>
            			
            				<select class="form-select form-control-lg">
            					<option>-Select Prevention-</option>
            				</select>
            			</div>
            		</div>
            		
            		<div class="col">
            			<span>Vaccine type<span class="text-danger">(*)</span>:</span>
            			
            			<div class="mt-2">
            				<i class="fa-regular fa-square-caret-down mr-2"></i>
            			
            				<select class="form-select form-control-lg">
            					<option>-Select vaccine type-</option>
            				</select>
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<span>Injection:</span>
            			
            			<div class="mt-2">
            				<i class="fa-solid fa-pen-to-square mr-2"></i>
            				
            				<input class="p-1" type="text">
            			</div>
            		</div>
            		
            		<div class="col">
            			<span>Date of injection:</span>
            			
            			<div class="mt-2">
            				<i class="fa-solid fa-pen-to-square mr-2"></i>
            				
            				<input class="p-1" type="text">
            			</div>
            		</div>
            		
            		<div class="col">
            			<span>Next injection appointment:</span>
            			
            			<div class="mt-2">
            				<i class="fa-solid fa-pen-to-square mr-2"></i>
            				
            				<input class="p-1" type="text">
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col-4">
            			<span>Place of injection:</span>
            			
            			<div class="mt-2">
            				<i class="fa-regular fa-square-caret-down mr-2"></i>
            				
            				<select class="form-select form-control-lg">
            					<option>-Select place of injection-</option>
            				</select>
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<button class="btn btn-success font-weight-bold px-5 py-2 mr-2" type="submit">Save</button>
            			<button class="btn btn-info font-weight-bold px-5 py-2 mr-2" type="reset">Reset</button>
            			<button class="btn btn-warning font-weight-bold text-white px-5 py-2" type="button">Cancel</button>
            		</div>
            	</div>
            </form>     
        </div>
	</main>
	
	<script src=""></script>
</body>
</html>