<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
  <title>Add Injection Result</title>
  
  <link rel="stylesheet" th:href="@{/css/injection-result-CSS/addInjectionResult.css}">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">CREATE INJECTION RESULT</h2>

	<main>
		<div class="w-100 p-0 d-flex">    
            <form
					class="form_content font-weight-bold w-100 bg-white px-5 py-2 rounded"
					th:action="@{/addInjectionResult}" method="post" th:object="${injectionResult}"
			>
            	<div class="row my-5">
            		<div class="col">
            			<label for="idCusInput">Customer <span class="text-danger">(*)</span> :</label>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-pen-to-square mr-3"></i>
            				
            				<input class="form-control px-2 py-4" id="idCusInput" type="text" name="users3" placeholder="-Customer ID-" />
            			</div>
            		</div>
            		
            		<div class="col">
            			<label>Prevention <span class="text-danger">(*)</span> :</label>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-regular fa-square-caret-down mr-3"></i>
            			
            				<select class="form-select form-control px-2 py-4" name="prevention" required>
								<th:block th:each="prevention : ${preventionList}">
									<option th:text="${prevention.preventionName}" th:value="${prevention.preventionId}"></option>
								</th:block>

            				</select>
            			</div>
            		</div>
            		
            		<div class="col">
            			<label for="vaccineTypeInput">Vaccine type<span class="text-danger">(*)</span>:</label>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-regular fa-square-caret-down mr-3"></i>
            			
            				<select class="form-select form-control px-2 py-4" id="vaccineTypeInput" name="vaccine" required>
            					<th:block th:each="vaccine : ${vaccineList}">
									<option th:text="${vaccine.vaccineName}" th:value="${vaccine.vaccineId}"></option>
								</th:block>
            				</select>
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<span>Injection:</span>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-pen-to-square mr-3"></i>
            				
            				<input class="form-control px-2 py-4" type="text" placeholder="-Injection Result ID-">
            			</div>
            		</div>
            		
            		<div class="col">
            			<label for="injectionDateInput"> Date of injection : </label>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-pen-to-square mr-3"></i>
            				<input
								class="form-control px-2 py-4"
								id="injectionDateInput"
								type="date"
								name="injectionDate"
								onchange="setMinDateNextInjection(this.value)"
								required
							/>
            			</div>
            		</div>
            		
            		<div class="col">
            			<label for="nextInjectionDateInput">Next injection appointment :</label>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-solid fa-pen-to-square mr-3"></i>
            				
            				<input
								class="form-control px-2 py-4"
								id="nextInjectionDateInput"
								type="date"
								required
							/>
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col-4">
            			<label>Place of injection:</label>
            			
            			<div class="d-flex align-items-center my-2">
            				<i class="fa-regular fa-square-caret-down mr-3"></i>
            				
            				<select class="form-select form-control px-2 py-4" name="place" required>
								<th:block th:each="place : ${placeList}">
									<option th:text="${place.placeName} + ' - ' + ${place.placeAddress}" th:value="${place.placeId}"></option>
								</th:block>

            				</select>
            			</div>
            		</div>
            	</div>
            	
            	<div class="row my-5">
            		<div class="col">
            			<button class="btn btn-success font-weight-bold px-5 py-2 mr-2" type="submit">Save</button>
            			<button class="btn btn-info font-weight-bold px-5 py-2 mr-2" type="reset">Reset</button>
            			<button class="btn btn-warning font-weight-bold text-white px-5 py-2" type="button">Cancel</button>
            		</div>
            	</div>
            </form>     
        </div>
	</main>
	
	<script th:src="@{/js/injection_result-JS/validate-injection_result.js}"></script>
</body>
</html>