<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="areas(title, cssFile, contentTitle, content, jsFile)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <link rel="stylesheet" th:href="@{/css/generalStyle.css}">
 	<link th:replace="${cssFile}">

</head>
<body>
    <div th:replace="~{/layout/fragment::header}">

    </div>
    <div class="wrapper d-flex">
        <!-- Sidebar  -->
        <div th:replace="~{/layout/fragment::sidebar}"></div>

        <!-- Page Content  -->
        <div class="content_wrap col-md-9 py-3">

            <!-- Content -->
            <div class="sidebar_btn_wrap bg-white rounded d-flex align-items-center px-4 py-2 mb-4">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fa-solid fa-list mr-2"></i>
                    <span>Sidebar</span>
                </button>

                <span th:replace="${contentTitle}"></span>
            </div>

            <div th:insert="${content}" id="content"></div>

        </div>
    </div>

    <script th:src="@{/js/generalJs.js}"></script>
    <script th:replace="${jsFile}"></script>
</body>
</html>