<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div th:fragment="header">

    <nav class="navbar sticky-top bg-body-tertiary navbar-header ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./img/logoFPT.png" alt="Logo" class="d-inline-block align-text-top logoFPT">
            </a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success seacrch-header" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

    <nav th:fragment="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="admin-infor">
                <a href="#">
                    <img src="./img/UserImg.png" alt="" class="header-navbar-user-img">
                </a>
                <p>Admin</p>
                <p>admin@fsort.com</p>
            </div>
        </div>
        <ul class="list-unstyled overflow-sidebar">
            <p>Home</p>
            <li class="active">
                <a href="#employeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">Emplyee management</a>
                <ul class="collapse list-unstyled" id="employeeSubmenu">
                    <li>
                        <a class="a_transform" th:href="@{/employee-list}">Employee List</a>
                    </li>
                    <li>
                        <a  class="a_transform" href="#">Create Employee</a>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#customerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">Customer management</a>
                <ul class="collapse list-unstyled" id="customerSubmenu">
                    <li>
                        <a  class="a_transform" href="#">Customer List</a>
                    </li>
                    <li>
                        <a  class="a_transform" href="#">Create Customer</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#vaccineTypeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">Vaccine Type management</a>
                <ul class="collapse list-unstyled" id="vaccineTypeSubmenu">
                    <li>
                        <a  class="a_transform" href="#">Vaccine Type List</a>
                    </li>
                    <li>
                        <a  class="a_transform" href="#">Create Vaccine Type</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#vaccineSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">Vaccine management</a>
                <ul class="collapse list-unstyled" id="vaccineSubmenu">
                    <li>
                        <a  class="a_transform" href="#">Vaccine List</a>
                    </li>
                    <li>
                        <a  class="a_transform" href="#">Create Vaccine</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#injectionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">Injection Shedule</a>
                <ul class="collapse list-unstyled" id="injectionSubmenu">
                    <li>
                        <a  class="a_transform" href="#">Injection Shedule List</a>
                    </li>
                    <li>
                        <a class="a_transform" href="#">Create Injection Shedule</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#newsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">News</a>
                <ul class="collapse list-unstyled" id="newsSubmenu">
                    <li>
                        <a class="a_transform" href="#">News List</a>
                    </li>
                    <li>
                        <a class="a_transform" href="#">Create News</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle a_transform">Report</a>
                <ul class="collapse list-unstyled" id="reportSubmenu">
                    <li>
                        <a class="a_transform" href="#">Report Injection Result</a>
                    </li>
                    <li>
                        <a class="a_transform" href="#">Report Customer</a>
                    </li>
                    <li>
                        <a class="a_transform" href="#">Report Vaccine</a>
                    </li>
                    <li>
                        <a class="a_transform" href="#">Report</a>
                    </li>

                </ul>
            </li>

        </ul>

    </nav>

</body>
</html>