<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<div th:fragment="header" class="header d-flex justify-content-between align-items-center px-4 py-3">
		<div class="h-100">
			<a class="h-100" href="/dashboard">
                <img th:src="@{/img/logoFPT.png}" alt="Logo" class="h-100">
            </a>
		</div>
		
		<div class="search_wrap d-flex align-items-center">
			<input class="form-control mr-2" type="search" placeholder="Search..." aria-label="Search">
           	<button class="btn btn-warning seacrch-header"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
	</div>

    <div th:fragment="sidebar" class="sidebar col-md-3 p-0">
        <div class="user-info p-4">
            <div class="h-100 d-flex">
                <a href="/dashboard" class="h-100 mr-4">
                    <img th:src="@{/img/UserImg.png}" alt="" class="user_logo h-100">
                </a>
                
                <div class="d-flex flex-column justify-content-around">
                	<span id="user_userName" th:text="${#authentication.name}"></span>
                	<span id="user_userRole" th:text="${#authentication.authorities[0].authority}"></span>
            	</div>            	
            </div>
            
        <!-- <div class="arrow-left"></div> -->
        </div>
        
        <div class="navigation">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header p-3">
						<h2 class="clearfix mb-0">
							<a href="/dashboard" class="btn btn-link">Home</a>									
						</h2>
					</div>
				</div>
				
				<div sec:authorize="hasAuthority('ADMIN')" class="card">
					<div class="card-header p-3" id="headingOne">
						<h2 class="mb-0">
							<a
									class="btn btn-link collapsed"
									data-toggle="collapse"
									data-target="#employee-management"
									aria-expanded="false"
									aria-controls="employee-management"
							>
								Employee management <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i>
							</a>
						</h2>
					</div>
							
					<div id="employee-management" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<ul class="ul-list-navbar">
							<li>
                        		<a id="employee-list" th:href="@{/employee-management/employee-list}">Employee List</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li>
                        		<a id="create-employee" th:href="@{/employee-management/create-employee}">Create Employee</a>
                    		</li>
                    	</ul>
					</div>
				</div>
				
				<div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="card">
					<div class="card-header p-3" id="headingTwo">
						<h2 class="mb-0">
							<a
								class="btn btn-link collapsed"
								data-toggle="collapse"
								data-target="#customer-manage"
								aria-expanded="false"
								aria-controls="customer-manage"
							>
								Customer management <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i>
							</a>
						</h2>
					</div>
							
					<div id="customer-manage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<ul class="ul-list-navbar">
                    		<li>
                        		<a id="customer_list" th:href="@{/customer-manage/customer_list}">Customer List</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li>
                        		<a id="create-customer" th:href="@{/customer-manage/create-customer}">Create Customer</a>
                    		</li>
                		</ul>
					</div>
				</div>
				
				<div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="card">
					<div class="card-header p-3" id="headingThree">
						<h2 class="mb-0">
							<a
									class="btn btn-link collapsed"
									data-toggle="collapse"
									data-target="#vaccineType-management"
									aria-expanded="false"
									aria-controls="vaccineType-management"
							>
								Vaccine Type management <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i>
							</a>
						</h2>
					</div>
							
					<div id="vaccineType-management" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<ul class="ul-list-navbar">
                    		<li>
                        		<a id="vaccineType-list" th:href="@{/vaccineType-management/vaccineType-list}">Vaccine Type List</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li>
                        		<a id="create-vaccineType" th:href="@{/vaccineType-management/create-vaccineType}">Create Vaccine Type</a>
                    		</li>
                		</ul>
					</div>
				</div>
				
				<div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="card">
					<div class="card-header p-3" id="headingFour">
						<h2 class="mb-0">
							<a
									class="btn btn-link collapsed"
									data-toggle="collapse"
									data-target="#vaccine-management"
									aria-expanded="false"
									aria-controls="vaccine-management"
							>
								Vaccine management <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i>
							</a>
						</h2>
					</div>
							
					<div id="vaccine-management" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
						 <ul class="ul-list-navbar">
                    		<li>
                        		<a id="vaccine_list" th:href="@{/vaccine-management/vaccine_list}">Vaccine List</a>
                   			</li>
                   			<hr class="m-0 ml-5 w-75">
                    		<li>
                        		<a id="add-vaccine" th:href="@{/vaccine-management/add-vaccine}">Create Vaccine</a>
                    		</li>
                		</ul>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header p-3" id="headingFive">
						<h2 class="mb-0">
							<a
								class="btn btn-link collapsed"
								data-toggle="collapse"
								data-target="#injectionSchedule-management"
								aria-expanded="false"
								aria-controls="injectionSchedule-management"
							>
								Injection Schedule <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i>
							</a>
						</h2>
					</div>
							
					<div id="injectionSchedule-management" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
						 <ul class="ul-list-navbar">
                    		<li>
                        		<a id="list_injectionSchedule" th:href="@{/injectionSchedule-management/list_injectionSchedule}">Injection Schedule List</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">
								<a id="create_injectionSchedule" th:href="@{/injectionSchedule-management/create_injectionSchedule}">Create Injection Schedule</a>
                    		</li>
                		</ul>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header p-3" id="headingSeven">
						<h2 class="mb-0">
							<a
								class="btn btn-link collapsed"
								data-toggle="collapse"
								data-target="#injection-result-management"
								aria-expanded="false"
								aria-controls="injection-result-management"
							>
								Injection Result <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i>
							</a>
						</h2>
					</div>
							
					<div id="injection-result-management" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
						 <ul class="ul-list-navbar">
                    		<li>
                        		<a id="vaccine_result_list" th:href="@{/injection-result-management/vaccine_result_list}">Injection Result List</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">
                        		<a id="add-injection-result" th:href="@{/injection-result-management/add-injection-result}">Create Injection Result</a>
                    		</li>
                		</ul>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header p-3" id="headingEight">
						<h2 class="mb-0">
							<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#news-management" aria-expanded="false" aria-controls="news-management">News <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i></a>									
						</h2>
					</div>
							
					<div id="news-management" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
						 <ul class="ul-list-navbar">
                    		<li>
                        		<a id="news_list" th:href="@{/news-management/news_list}">News List</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">
                        		<a id="create_news" th:href="@{/news-management/create_news}">Create News</a>
                    		</li>
                		</ul>
					</div>
				</div>

				<div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="card">
					<div class="card-header p-3" id="headingNine">
						<h2 class="mb-0">
							<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Report <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus collapse"></i></a>									
						</h2>
					</div>
							
					<div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
						 <ul class="ul-list-navbar">
                    		<li>
                        		<a class="" href="/report_injection_result">Report Vaccine</a>
                    		</li>
                    		<hr class="m-0 ml-5 w-75">
                    		<li>
                        		<a class="" href="#">Report</a>
                    		</li>
                		</ul>
					</div>
				</div>
				
				<div class="card">
					<div class="card-header p-3">
						<h2 class="clearfix mb-0">
							<a class="btn btn-link" href="/logout">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>									
						</h2>
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>