<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
    <title>NewList</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/news-CSS/list.css}"/>
</head>
<body>

<h4 class="my-0 ml-auto mr-auto" id="content_title">NEWS LIST</h4>

<main>
    <div class="container-fluid bg-white">
        <div>
            <form class="table table-striped " th:action="@{/news_list}" method="get">
                <div class="search_wrap">
                    <div class="header_navbar-item">
                        <span class="text mr-2">Show</span>

                        <select class="form-select form-control px-2 py-4">
                            <option value="5" th:selected="${option == 5}">5</option>
                            <option value="10" th:selected="${option == 10}">10</option>
                            <option value="15" th:selected="${option == 15}">15</option>
                            <option value="25" th:selected="${option == 25}">25</option>
                            <option value="50" th:selected="${option == 50}">50</option>
                        </select>


                        <span class="text ml-2">entries</span>
                    </div>
                    <div class="header_navbar-item">
                        <label for="certName">Search:</label>
                        <input type="text" id="certName" name="search" th:value="${search}">

                    </div>

                    <div th:if="${msg23}" class="alert alert-success">
                        <p th:text="${msg23}"></p>
                    </div>
                    <div th:if="${msg22}" class="alert alert-success">
                        <p th:text="${msg22}"></p>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="table">
                    <th>
                        <input style="text-align: center;" type="checkbox" id="checkAll">
                    </th>
                    <th scope="col" class="text-center text-white">Title</th>
                    <th scope="col" class="text-center text-white">Content</th>
                    <th scope="col" class="text-center text-white">Post date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="n, status : ${newsPage.content}">

                    <td>
                        <input style="text-align: center;" type="checkbox" name="newsIds" th:data-news-id="${n.newsId}">
                    </td>

                    <td th:text="${n.title}"></td>
                    <td th:text="${n.content}"></td>
                    <td th:text="${n.postDate}"></td>

                </tr>
                </tbody>
            </table>

            <div class="pagination-section">
                <div class="button_bussiness">
                    <span class="text_details">Showing <span th:text="${start}"></span> to <span
                            th:text="${end}"></span> of <span th:text="${total}"></span> entries</span>
                </div>


                <div class="page" th:if="${newsPage.totalPages > 1}">
                    <ul class="pagination">
                        <!-- Nút Trang Trước -->
                        <li th:if="${newsPage.hasPrevious()}" class="page-item">
                            <a th:if="${newsPage.number > 0}" th:href="@{'/news_list?pageNum=' + ${newsPage.number -1}}"
                               aria-label="Previous" class="page-link">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <!--         Danh sách các trang-->
                        <li th:each="page : ${#numbers.sequence(1, newsPage.totalPages)}" class="page-item">
                            <a th:href="@{'/news_list?pageNum=' + ${page}}" th:text="${page}" class="page-link"></a>
                        </li>

                        <!-- Nút Trang Tiếp Theo -->
                        <li th:if="${newsPage.hasNext()}" class="page-item">
                            <a th:href="@{'/news_list?pageNum=' + ${newsPage.number + 1}}" aria-label="Next"
                               class="page-link">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="bold">
                <button class="create" type="button"><a class="create" th:href="@{/create_news}">Create news </a>
                </button>

                <button class="update" type="button" onclick="editNews()">Update News</button>

                <button class="delete" type="button"><a onclick="deleteNews()">Delete news </a></button>

            </div>

        </div>

    </div>
</main>
<script th:src="@{/js/news-JS/news.js}"></script>
</body>
</html>