<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
    <title>NewList</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/news-CSS/list.css}"/>
</head>
<body>

<h4 class="my-0 ml-auto mr-auto" id="content_title">NEWS LIST</h4>

<main>
    <div class="container">
        <form class="table table-striped " th:action="@{/news_list}" method="get">
            <div class="row">
                <div class="col-sm-6 left">
                    <label for="Show">Show</label>
                    <select name="Show" id="Show" class="full-size">
                        <option value="1"></option>
                        <option value="2"> 1</option>
                        <option value="3"> 5</option>
                        <option value="4"> 12</option>
                    </select>
                    <label>entries</label>
                </div>

                <div class="col-sm-6 right">
                    <label for="certName">Search:</label>
                    <input type="text" id="certName" name="search" th:value="${search}">

                </div>

            </div>
        </form>
        <table>
            <thead>
            <tr>
                <th>
                    <input style="text-align: center;" type="checkbox" disabled>
                </th>
                <th scope="col" style="text-align: center;">Title</th>
                <th scope="col" style="text-align: center;">Content</th>
                <th scope="col" style="text-align: center;">Post date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="n, status : ${newsPage.content}">

                <td>
                    <input style="text-align: center;" type="checkbox" name="newsIds" th:data-news-id="${n.newsId}">
                </td>
                <td th:text="${n.title}"></td>
                <td th:text="${n.content}"></td>
                <td th:text="${n.postDate}"></td>

            </tr>
            </tbody>
        </table>

        <div class="page" th:if="${newsPage.totalPages > 1}">
            <ul class="pagination">
                <!-- Nút Trang Trước -->
                <li th:if="${newsPage.hasPrevious()}" class="page-item">
                    <a th:if="${newsPage.number > 0}" th:href="@{'/news_list?pageNum=' + ${newsPage.number -1}}"
                       aria-label="Previous" class="page-link">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <!--         Danh sách các trang-->
                <li th:each="page : ${#numbers.sequence(1, newsPage.totalPages)}" class="page-item">
                    <a th:href="@{'/news_list?pageNum=' + ${page}}" th:text="${page}" class="page-link"></a>
                </li>

                <!-- Nút Trang Tiếp Theo -->
                <li th:if="${newsPage.hasNext()}" class="page-item">
                    <a th:href="@{'/news_list?pageNum=' + ${newsPage.number + 1}}" aria-label="Next" class="page-link">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="bold">
            <button class="create" type="button"><a class="create" th:href="@{/create_news}">Create news </a></button>

            <button class="update" type="button" onclick="editNews()">Update News</button>

            <button  class="delete" type="button"> <a  onclick="deleteNews()">Delete news </a></button>

        </div>
    </div>
</main>
<script th:src="@{/js/news-JS/news.js}"></script>
</body>
</html>