#content {
	box-shadow: 2px 2px 5px #888888;
	font-size: 1.4rem !important;
}

.footer_buttons button {
	box-shadow: 3px 3px 3px #888888;
	font-size: 1.5rem;
}

p {
	margin-left: auto;
	margin-right: auto;
	width: 17%;
}

.col-responsive{
	width: 42%;
}

.container-fluid {
	padding: 20px 0;
}

.body2 {
	margin-top: 2%;
	margin-left: 20px;
	margin-right: 20px;
}

.table {
	border: 1px solid lightgray;
}

thead{
	background-color: #009688;
}

.form-group {
	width: 189%;
	margin-bottom: 12px;
}

.paging_buton {
	justify-content: end;
	display: flex;
	margin-right: 16%;
}

.header_navbar {
	display: flex;
    justify-content: space-between;
    width: 98%;
}

.header_navbar-item {
	display: flex;
	justify-content: center;
	margin-left: 4%;
}

.dropdown-list {
	border: none;
	outline: none;
	margin: 0 10px;
	position: relative;
	border-bottom: 1px solid rgb(61, 133, 168);
}

.dropdown-list-search{
	border: none;
	outline: none;
	margin: 0 10px;
	position: relative;
	border-bottom: 1px solid rgb(173, 177, 179);
}

.footer_buttons{
	display: flex;
	margin: 30px 0;
	justify-content: space-between;
}

.text_details{
	padding-left: 3px;
}

#content select {
	height: auto;
	padding: 0.25rem 0.5rem !important;
	font-size: 1.4rem !important;
}

.modal,
.close span {
	font-size: 2rem;
}

.modal button {
	font-size: 1.5rem;
}