<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
  <title>Add Injection Result</title>

  <link rel="stylesheet" th:href="@{/css/schedule-CSS/createInjectionSchedule.css}"/>
</head>

<body>
<h2 class="my-0 ml-auto mr-auto" id="content_title">CREATE INJECTION SCHEDULE</h2>

<main>
  <div class="w-100 p-0 d-flex">
    <form class="form_content font-weight-bold w-100 bg-white px-5 py-2"
          th:action="@{/injectionSchedule-management/create_injectionSchedule}" method="post" th:object="${injectionSchedule}">
      <div class="row my-5">
        <div class="col-sm">
          <span>Injection Schedule Id <span class="text-danger">(*)</span>:</span>

          <div class="mt-2">
            <i class="fa-solid fa-pen-to-square mr-3"></i>

            <input class="p-1 mr-3 " type="text" name="injectionScheduleId" placeholder="Injection Schedule Id"
                   onchange="checkInjectionScheduleId(this.value)"
                   id="injectionScheduleIdInput" required>
            <span class="text-danger font-weight-bold" th:if="${#fields.hasErrors('injectionScheduleId')}" th:errorclass="error" th:errors="*{injectionScheduleId}"></span>

            <small id="InjectionScheduleIdInvalid" class="form-text text-danger" style="opacity: 0">
              You can enter number only!. At least 5 numbers
            </small>

          </div>
        </div>

        <div class="col-sm">
          <span>Vaccine<span class="text-danger">(*)</span>:</span>

          <div class="mt-2">
            <i class="fa-regular fa-square-caret-down mr-2"></i>

            <select name="vaccine1" class="form-select form-control-lg " cols="40">
              <option th:each="vaccine1 : ${vaccineList}" th:text="${vaccine1.vaccineName}" th:value="${vaccine1.vaccineId}"></option>
            </select>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-sm">
          <span>From<span class="text-danger">(*)</span>:</span>

          <div class="mt-2">
            <i class="fa-solid fa-pen-to-square mr-2"></i>
            <input type="date" class="p-1 mr-3 " cols="40" id="dateInput" name="startDate" required/>

          </div>
        </div>

        <div class="col-sm">
          <span>To<span class="text-danger">(*)</span>:</span>

          <div class="mt-2">
            <i class="fa-solid fa-pen-to-square mr-2"></i>

            <input type="date" class="p-1 mr-3" cols="40"  name="endDate" required/>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-sm">
          <span>Place</span>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-solid fa-file-lines mr-3"></i>
            <textarea class="p-1 textarea-Schedule" rows="5" cols="60" name="place"></textarea>
          </div>
        </div>

        <div class="col-sm">
          <span>Note</span>
          <div class="d-flex align-items-center mt-2">
            <i class="fa-solid fa-file-lines mr-3"></i>
            <textarea class="p-1 textarea-Schedule" rows="5" cols="60" name="description"></textarea>
          </div>
        </div>

      </div>

      <div class="row my-5">
        <div class="col">
          <button class="btn btn-success font-weight-bold px-5 py-2 mr-2" type="submit">Save</button>
          <button class="btn btn-info font-weight-bold px-5 py-2 mr-2" type="reset">Reset</button>
          <button class="btn btn-warning font-weight-bold text-white px-5 py-2" type="button"><a th:href="@{/injectionSchedule-management/list_injectionSchedule}">Cancel</a></button>
        </div>
      </div>
    </form>
  </div>
</main>

<script th:src="@{/js/injectionSchedule-JS/validate-injectionSchedule.js}"></script>
</body>
</html>