.navbar-header {
    background-color: rgb(0,150,136) ;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(233,233,233) !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    margin-bottom: 0px;

}

a {
    color: black;
}

.a_transform:hover{
    transform: translateX(2px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

a:hover,
a:focus {
    text-decoration: none !important;
    transition: all 0.3s;
    color: rgb(0,150,136);
    background-color: rgb(233,233,233);
}

.navbar-brand{
    width: auto;
}

.logoFPT{
    width: 30%;
    height: 30%;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.seacrch-header{
    margin-left: 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.overflow-sidebar{
    overflow-y: scroll;
}
.admin-infor{
    padding: 10px 20px 10px 20px;
}

.sidebar-header {
    background-image: url(/img/backgroundUser.png);
}

.navbar-brand-user{
    padding-top: 0px;
}

.header-navbar-user-img{
    width: 44px ;
    height: 44px ;
    border-radius: 50% ;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 280px;
    /* max-width: 280px; */
    background: rgb(253,253,253);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}


#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(0,150,136);
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -280px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    content employee list
----------------------------------------------------- */

.body2{
    width: 101%;
}

.table{
    border: 1px solid lightgray;
}

.form-group{
    width: 189%;
    margin-bottom: 12px;
}

.container{
    padding-top: 30px;
    padding-bottom: 30px;
}


.button{
    border-style: none;
    background-color: white;
    font-weight: 600;
    color: #8f8b8b;
    font-size: 0.9rem;
}

.paging_buton{
    justify-content: end;
    display: flex;
    margin-right: 16%;
}

.header_navbar{
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}

.header_navbar-item{
    display: flex;
    justify-content: center;
    margin-left: 4%;
}

.dropdown-list{
    border: none;
    outline: none;
    margin: 0 10px;
    position: relative;
}

.footerr{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 89%;
    margin-top: 30px;
}

.btn-create{
    border-style: none;
    background-color: rgb(86, 224, 86);
    color: white;
    border-radius: 3px;
    height: 35px;
}

.btn-update{
    border-style: none;
    background-color: rgb(248, 129, 81);
    color: white;
    border-radius: 3px;
    height: 35px;
}

.btn-delete{
    border-style: none;
    background-color: rgb(243, 83, 83);
    color: white;
    border-radius: 3px;
    height: 35px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 105%;
}