<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main},~{::script})}">

<head>
	<title>VaccineTypeList</title>
	<link rel="stylesheet" href="css/vaccine-CSS/add-vaccine.css">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">VACCINE TYPE LIST</h2>
	<main>
		
		 <div class="body1">
    <div class="container-fluid  bg-white">
      <p>Personal Information</p>
      <div class="container-fluid">
          <div class="row row-cols-2">
            <div class="col-sm-8 col_reponsive">
              <span class="label">
                Full name
                <span class="label" style="color: red;font-weight: 650;">(*):</span>
              </span>
              <div class="label_header">
                <input type="text" class="input_text">
              </div>
            </div>
            <div class="col-sm-4 col_reponsive">
              <span class="label">Gender
              </span>
              <div class="label_header" style="display: flex;">
                <div class="radio">
                  <div class="radio1" style="margin-left: 15px;margin-right: 80px;">
                    <input type="radio" name="radio_btn" style="margin-right: 4px;">
                    <span>Male</span>
                  </div>
                  <div class="radio1">
                    <input type="radio" name="radio_btn" style="margin-right: 4px;">
                    <span>Female</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="body2">
            <div class="row row-cols-3 row1">
              <div class="col-sm">
                <span class="label">Identity Card
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <input class="input_text-normal" type="text">
                </div>
              </div>
              <div class="col-sm">
                <span class="label">Address
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <input class="input_text-normal" type="text">
                </div>
              </div>
              <div class="col-sm">
                <span class="label">Address
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <input class="input_text-normal" type="text">
                </div>
              </div>
            </div>
            <div class="row row-cols-3 row1">
              <div class="col-sm">
                <span class="label">Identity Card
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <textarea class="input_text-normal" type="text" name="" id="" cols="20" rows="5"></textarea>
                </div>
              </div>
              <div class="col-sm">
                <span class="label">Address
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <textarea class="input_text-normal" type="text" name="" id="" cols="20" rows="5"></textarea>
                </div>
              </div>
              <div class="col-sm">
                <span class="label">Address
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <textarea class="input_text-normal" type="text" name="" id="" cols="20" rows="5"></textarea>
                </div>
              </div>
            </div>
            <div class="row row-cols-3">
              <div class="col-sm">
                <span class="label">Identity Card
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <input class="input_text-normal" type="text">
                </div>
              </div>
              <div class="col-sm">
                <span class="label">Address
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <input class="input_text-normal" type="text">
                </div>
              </div>
              <div class="col-sm">
                <span class="label">Address
                  <span class="label" style="color: red;font-weight: 650;">(*):</span>
                </span>
                <div class="label_header">
                  <input class="input_text-normal" type="text">
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
	</main>
	<script src="#"></script>
</body>

</html>