<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main},~{::script})}">

<head>
	<title>VaccineTypeList</title>
	<link rel="stylesheet" href="css/vaccine-CSS/add-vaccine.css">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">CREATE VACCINE</h2>
	<main>

		<div class="body1">
			<div class="container-fluid  bg-white">
				<div class="container-fluid">
					<div class="row row-cols-2">
						<div class="col-sm-8 col_reponsive">
							<span class="label">
								Vaccine id:
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-sm-4 col_reponsive">
							<span class="label">Active:
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header" style="display: flex;">
								<i class="fa-solid fa-microscope"></i>
								<div class="active">
									<input class="checkbox" type="checkbox">
								</div>
							</div>
						</div>
					</div>
					<div class="body2">
						<div class="row row-cols-3 row1">
							<div class="col-sm">
								<span class="label">Vaccine name:
									<span class="label_sign">(*):</span>
								</span>
								<div class="label_header">
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="col-sm">
								<span class="label">Vaccine Type
									<span class="label_sign">(*):</span>
								</span>
								<div class="label_header">
									<select class="form-select" aria-label="Default select example">
										<option selected>-Select Vaccine Type</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
								</div>
							</div>
							<div class="col-sm">
								<span class="label">Number of inject:
								</span>
								<div class="label_header">
									<input class="form-control" type="text">
								</div>
							</div>
						</div>
						<div class="row row-cols-3 row1">
							<div class="col-sm">
								<span class="label">Usage:
								</span>
								<div class="label_header">
									<textarea class="form-control input_text-normal" type="text" name="" id="" cols="20"
										rows="5"></textarea>
								</div>
							</div>
							<div class="col-sm">
								<span class="label">Indication:
								</span>
								<div class="label_header">
									<textarea class="form-control input_text-normal" type="text" name="" id="" cols="20"
										rows="5"></textarea>
								</div>
							</div>
							<div class="col-sm">
								<span class="label">Contraindication
								</span>
								<div class="label_header">
									<textarea class="form-control input_text-normal" type="text" name="" id="" cols="20"
										rows="5"></textarea>
								</div>
							</div>
						</div>
						<div class="row row-cols-3">
							<div class="col-sm">
								<span class="label">Time of beginning next injection:
								</span>
								<div class="label_header">
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="col-sm">
								<span class="label">Time of ending next injection:
								</span>
								<div class="label_header">
									<input class="form-control" type="text">
								</div>
							</div>
							<div class="col-sm">
								<span class="label">Origin:
								</span>
								<div class="label_header">
									<input class="form-control" type="text">
								</div>
							</div>
						</div>
					</div>
					<div class="button_bussiness">
						<div class="buttons">
							<button class="btn-create">Save</button>
							<button class="btn-update">Reset</button>
							<button class="btn-delete">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="#"></script>
</body>

</html>