<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main},~{::script})}">
<head>
  <title>Import Vaccine</title>

  <link rel="stylesheet" th:href="@{/css/importVaccine.css}">
</head>

<body>
<h2 class="my-0 ml-auto mr-auto" id="content_title">Import Vaccine</h2>

<main>
  <div class="w-100 p-0 d-flex">
    <form class="form_content w-100 bg-white px-5 py-2">
      <div class="row my-5">
        <div class="col">
          <span>Import:</span>
          <div class="d-flex align-items-center mt-2">
            <input type="file">
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col">
          <button class="btn btn-success mr-2" type="submit">Import</button>
          <button class="btn btn-info mr-2" type="reset">Reset</button>
          <button class="btn btn-warning" type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</main>
<script></script>
</body>
</html>