<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main})}">

<head>
	<title>CreateCustomer</title>
	<link rel="stylesheet" href="css/create_customer.css">
</head>

<body>
	<h2 class="my-0 ml-auto mr-auto" id="content_title">REGISTER CUSTOMER INFORMATION</h2>
	<main>
		
		<div class="body1">
			<div class="container-fluid  bg-white">
				<p>Personal Information</p>
				<hr class="body2">
				<div class="container-fluid">
						<div class="row row-cols-3">
							<div class="col col_reponsive">
								<span class="label">
									Full name
									<span class="label" style="color: red;font-weight: 650;">(*):</span>
								</span>
								<div class="label_header">
									<i class="fa-solid fa-image-portrait"></i>
									<input type="text">
								</div>
							</div>
							<div class="col col_reponsive">
								<span class="label">Date of birth
									<span class="label" style="color: red;font-weight: 650;">(*):</span>
								</span>
								<div class="label_header">
									<i class="fa-regular fa-calendar" style="margin-left: -4px;"></i>
									<input type="text">
								</div>
							</div>
							<div class="col col_reponsive">
								<span class="label">Gender
								</span>
								<div class="label_header" style="display: flex;">
									<i class="fa-regular fa-face-flushed"
										style="margin-right: 5px; margin-top: 6px;"></i>
									<div class="radio">
										<div class="radio1" style="margin-left: 15px;margin-right: 80px;">
											<input type="radio" name="radio_btn" style="margin-right: 4px;">
											<span>Male</span>
										</div>
										<div class="radio1">
											<input type="radio" name="radio_btn" style="margin-right: 4px;">
											<span>Female</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<span class="label">Identity Card
									<span class="label" style="color: red;font-weight: 650;">(*):</span>
								</span>
								<div class="label_header">
									<i class="fa-regular fa-credit-card" style="margin-left: -5px;"></i>
									<input type="text">
								</div>
							</div>
							<div class="col">
								<span class="label">Address
									<span class="label" style="color: red;font-weight: 650;">(*):</span>
								</span>
								<div class="label_header">
									<i class="fa-solid fa-location-dot"></i>
									<input type="text">
								</div>
							</div>
						</div>

				</div>
			</div>
		</div>
		
		<div class="body2">
			<div class="container-fluid bg-white">
				<p>Account Information</p>
				<hr class="body2">
				<div class="container-fluid">
					<div class="row row-cols-3">
						<div class="col col_reponsive">
							<span class="label">
								Username
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-circle-user"></i>
								<input type="text">
							</div>
						</div>
						<div class="col col_reponsive">
							<span class="label">Password
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-lock"></i>
								<input type="text">
							</div>
						</div>
						<div class="col col_reponsive">
							<span class="label">Password Confirm
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-lock"></i>
								<input type="text">
							</div>
						</div>
						<div class="col col_reponsive">
							<span class="label">Email
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-envelope"></i>
								<input type="text">
							</div>
						</div>
						<div class="col col_reponsive">
							<span class="label">Phone
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-pager"></i>
								<input type="text">
							</div>
						</div>
					</div>
					<div class="row row-cols-3">
						<div class="col">
							<span class="label">Capcha
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-lock"></i>
								<input type="text">
							</div>
						</div>
						<div class="col">
							<span class="label">Code
								<span class="label_sign">(*):</span>
							</span>
							<div class="label_header">
								<i class="fa-solid fa-mobile-screen-button"></i>
								<input type="text">
							</div>
						</div>
					</div>
				</div>
				<div class="footerr">
					<div class="button_bussiness">
						<div class="buttons">
							<button class="btn-create" style="width: 90px;">Save</button>
							<button class="btn-update" style="width: 90px;">Reset</button>
							<button class="btn-delete" style="width: 90px;">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>