<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/admin_template::areas(~{::title}, ~{::link}, ~{::#content_title}, ~{::main}, ~{::script})}">

<head>
    <title>Add Customer</title>

    <link rel="stylesheet" th:href="@{/css/customer-CSS/create-update-customer.css}"/>
</head>

<body>
<h2 class="my-0 ml-auto mr-auto" id="content_title">UPDATE CUSTOMER</h2>

<main>
    <form
           th:action="@{/customer-manage/update-delete-customer}"
            class="px-3 py-4"
            onsubmit="return validateCustomer()"
            method="post"
            th:object="${userDetailInfo}"
    >
    <div th:object="${userInfo}">
        <div class="bg-white rounded shadow form-group row mb-3 d-flex flex-wrap ">
            <h4 class="col-12 py-4 font-weight-bold">Personal Information</h4>
            <div class="col-12 col-md-6 col-lg-4 mb-2">
				<input type="hidden" name="userDetailId" th:value="${userDetailInfo.id}">
				<input type="hidden" name="userId" th:value="${userInfo.usersId}">
                <label for="nameInput" class="font-weight-bold">
                    Full name
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                  <span class="mt-2 mr-2">
                    <i class="fa-solid fa-id-badge"></i>
                  </span>
                    <input
                            type="text"
                            th:value="${userDetailInfo.fullName}"
                            class="form-control mr-3 rounded"
                            id="nameInput"
                            placeholder="Customer name"
                            onchange="checkName(this.value)"
                            required
                            name="fullName"
                    />
                </div>
                <small
                        id="nameInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Name min-length is 5 and max-length is 100.
                </small>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label class="font-weight-bold"> Gender </label>
                <div class="d-flex">
                      <span class="mt-1 mr-2">
                        <i class="fa-solid fa-venus-mars"></i>
                      </span>
                    <div class="form-check mr-3">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="gender"
                                id="gender1"
                                value="1"
                                checked
                        />
                        <label class="form-check-label ml-2" for="gender1"> Male </label>
                    </div>
                    <div class="form-check">
                        <input
                                class="form-check-input"
                                type="radio"
                                name="gender"
                                id="gender2"
                                value="2"
                        />
                        <label class="form-check-label ml-2" for="gender2">
                            Female
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="dateInput" class="font-weight-bold">
                    Date of birth
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                      <span class="mt-2 mr-2">
                        <i class="fa-solid fa-calendar-days"></i>
                      </span>
                    <input
                    th:value="${userDetailInfo.dateOfBirth}"
                            type="date"
                            class="form-control mr-3 rounded"
                            id="dateInput"
                            name="dateOfBirth"
                    />
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="idCardInput" class="font-weight-bold">
                    Identity Card
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                <span class="mt-2 mr-2">
                  <i class="fa-solid fa-address-card"></i>
                </span>
                    <input
                    th:value="${userDetailInfo.identityCard}"
                            type="text"
                            class="form-control mr-3 rounded"
                            placeholder="Identity card"
                            id="idCardInput"
                            readonly
                            name="identityCard"
                    />
                </div>
                <small
                        id="idCardInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Identity card min-length is 5 max-length is 20.
                </small>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="addressInput" class="font-weight-bold">
                    Address
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                      <span class="mt-2 mr-2">
                        <i class="fa-solid fa-location-dot"></i>
                      </span>
                    <input
                    	 th:value="${userDetailInfo.address}"
                            type="text"
                            class="form-control mr-3 rounded"
                            placeholder="Address"
                            id="addressInput"
                            onchange="checkAddress(this.value)"
                            name="address"
                    />
                </div>
                <small
                        id="addressInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Address min-length is 5 max-length is 100.
                </small>
            </div>


        </div>


        <div class="bg-white rounded shadow form-group row mb-3 d-flex flex-wrap mt-4">
            <h4 class="col-12 py-4 font-weight-bold">Account Information</h4>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="usernameInput" class="font-weight-bold">
                    Username
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                      <span class="mt-2 mr-2">
                        <i class="fa-solid fa-id-badge"></i>
                      </span>
                    <input
                     th:value="${userInfo.userName}"
                            type="text"
                            class="form-control mr-3 rounded"
                            placeholder="Username"
                            id="usernameInput"
                            readonly
                            name="userName"
                    />
                </div>
                <small
                        id="usernameInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Username min-length is 5 and max-length is 30.
                </small>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="newPasswordInput" class="font-weight-bold">
                    New Password
                </label>
                <div class="d-flex">
                  <span class="mt-2 mr-2">
                     <i class="fa-solid fa-lock"></i>
                  </span>
                    <input
                            type="password"
                            class="form-control mr-3 rounded"
                            placeholder="Password"
                            id="newPasswordInput"
                            onchange="checkNewPassword(this.value)"
                            name="newPassword"
                    />
                </div>
                <small
                        id="passwordInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Password min-length is 10 and max-length is 30.
                </small>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="reNewPasswordInput" class="font-weight-bold">
                    Re-New Password
                </label>
                <div class="d-flex">
                    <span class="mt-2 mr-2">
                      <i class="fa-solid fa-lock"></i>
                    </span>
                    <input
                            type="password"
                            class="form-control mr-3 rounded"
                            placeholder="Re-password"
                            id="reNewPasswordInput"
                            onchange="checkReNewPassword(this.value)"
                    />
                </div>
                <small
                        id="rePasswordInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Re-password not match the entered password.
                </small>
            </div>


            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="phoneInput" class="font-weight-bold">
                    Phone number
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                      <span class="mt-2 mr-2">
                        <i class="fa-solid fa-phone"></i>
                      </span>
                    <input
                    th:value="${userDetailInfo.phone}"
                            type="text"
                            class="form-control mr-3 rounded"
                            placeholder="Phone number"
                            id="phoneInput"
                            onchange="checkPhoneNumber(this.value)"
                            name="phone"
                    />
                </div>
                <small
                        id="phoneInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    You must start phone number with “0” and number only.
                </small>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="emailInput" class="font-weight-bold">
                    Email
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                      <span class="mt-2 mr-2">
                        <i class="fa-solid fa-envelope"></i>
                      </span>
                    <input
                    th:value="${userDetailInfo.email}"
                            type="email"
                            class="form-control mr-3 rounded"
                            placeholder="Email"
                            id="emailInput"
                            onchange="checkEmail(this.value)"
                            name="email"
                    />
                </div>
                <small
                        id="emailInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Email max-length is 100.
                </small>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-2"></div>
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="captchaInput" class="font-weight-bold">
                    Captcha
                    <span class="text-danger">(*)</span>
                </label>
                <div class="d-flex">
                  <span class="mt-2 mr-2">
                    <i class="fa-solid fa-check"></i>
                  </span>
                    <input
                            type="text"
                            class="form-control mr-3 rounded"
                            placeholder="Captcha"
                            id="captchaInput"
                            onchange="checkCaptcha(this.value)"
                    />
                </div>
                <small
                        id="captchaInvalid"
                        class="form-text text-danger"
                        style="opacity: 0"
                >
                    Captcha not match the code.
                </small>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <label for="codeCaptcha" class="font-weight-bold">
                    Code
                </label>
                <div class="d-flex">
                    <input
                            type="text"
                            class="form-control mr-3 rounded w-25"
                            id="codeCaptcha"
                            readonly
                    />
                    <span id="re-load-captcha" class="p-2 bg-light rounded" onclick="reloadCaptcha()">
                        <i class="fa-solid fa-rotate-right"></i>
                    </span>
                </div>
            </div>
            <div class="col-12 mb-5">
                <button type="submit" name="save-update" class="btn btn-success mr-2">Save</button>
                <button type="reset" class="btn btn-info mr-2">Reset</button>
                <button type="button" onclick="history.back()" class="btn btn-warning">Cancel</button>
            </div>
        </div>
	</form>
    </div>
    
</main>
<script th:src="@{/js/customer-JS/validate-customer.js}"></script>
</body>
</html>