p{
    width: 45%;
    padding-top: 5px;
    font-size: 2.2rem;
    padding-left: 20px;
}

.row1{
    margin-bottom: 30px;
}

.container-fluid {
	padding-bottom: 20px;
}

.input_text{
    width: 100%;
}

.input_text-normal{
    width: 100%;
    resize: none;
}

.label_sign{
	font-weight: 600;
	color: red;
}


.radio{
    display: flex;
    border: 1px solid #0000008c;
    height: 30px;
    border-radius: 2px;
    width: 230px;
}

.radio1{
    display: flex;
}

.col{
    display: grid;
}

.col_reponsive{
    margin-bottom: 50px;
}

.footerr{
    display: flex;
    width: 89%;
    margin-top: 50px;
}

.btn-create{
    border-style: none;
    background-color: rgb(86, 224, 86);
    color: white;
    border-radius: 3px;
    height: 35px;
}

.btn-update{
    border-style: none;
    background-color: rgb(248, 129, 81);
    color: white;
    border-radius: 3px;
    height: 35px;
}

.btn-delete{
    border-style: none;
    background-color: rgb(243, 83, 83);
    color: white;
    border-radius: 3px;
    height: 35px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 105%;
}
